<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" menuId="first" type="overlay">
            <ion-header>
                <ion-item>
                    Menu
                </ion-item>
                <ion-toolbar color="danger">
                    <ion-title>
                        <ul>
                            <li>Nombre: <a href="">asd</a></li>
                            <li>Email: <a href="">dd</a></li>
                            <li>Rol: <a href="">ss</a></li>
                        </ul>
                    </ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerLink="gamas">
                            Gamas
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerLink="/login">
                            Login
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerLink="portada">
                            Home
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>