<ion-header>
  <app-header seccion="Portada"></app-header>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img src="http://jardineria.test/img/portada.png"></ion-img>
      <ion-card-title>Jardinería Los Castaños</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      En Jardineria los Castaños prestamos servicios de jardineria a toda la zona norte de Madrid para que puedan lucir unos jardines con clase y estilo. Además de servicio de jardineria, también ofrecemos servicio de manteniemiento de piscinas, reformas de jardinas y todo tipo de podas y diseño de jardines. Cuidamos de tu jardín de la mejor forma.
    </ion-card-content>
  </ion-card>

  
  
  
</ion-content>
