<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start" >
        <ion-menu-button menu="first" color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title color="light" size="Large">{{seccion}}</ion-title>
      <ion-buttons slot="secondary">
        <ion-back-button defaultHref="/" text="" color="light"></ion-back-button>
        <ion-img routerLink="/home" src="http://jardineria.test/img/logo.png"></ion-img>
        <ion-button expand="full" routerLink="/login">
          <ion-icon  name="log-in-outline"></ion-icon>
          Login
        </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>