<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
          <img src="http://jardineria.test/img/portada.png" alt="">
          <h1>Jardineria Los Castaños</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, mollitia voluptatem odit omnis nobis fugit nostrum eaque suscipit aliquam ad porro sit quo architecto blanditiis accusamus reiciendis est qui atque.</p>
        </ion-card-content>
      </ion-card>
</ion-content>