<ion-header>
  <ion-buttons>
    <div class="header">
      <div class="mitad1">
        <ion-menu-button menu="first" color="white"></ion-menu-button>
      </div>
      <div class="mitad2">
        <ion-back-button defaultHref="home"></ion-back-button>
        <img routerLink="/home" src="http://jardineria.test/img/logo.png" alt="">
        <div class="login" routerLink="/login">
          <ion-icon name="exit-outline"></ion-icon>
          <p>LOGIN</p>
        </div>
      </div>
    </div>
  </ion-buttons>
</ion-header>