<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" menuId="first">
      <ion-header>
        <ion-list-header *ngIf="usuarios" >
            <img  routerLink="/perfil" src="http://jardineria.test/img/usuarios/{{usuarios[0].image}}">
          
          <div id="datos" color="success" *ngIf="usuarios" >
            <div id="cliente">
              <p>{{usuarios[0].cliente.Nombre}}</p>
              <p>{{usuarios[0].cliente.Ciudad}} ({{usuarios[0].cliente.Pais}})</p>
            </div>
            <div id="usuario">
              <p>{{usuarios[0].name}}, {{usuarios[0].surname}}</p> 
              <p>{{usuarios[0].email}}</p>
              <p>{{usuarios[0].rol}}</p>
            </div>    
          </div>
        </ion-list-header>
      </ion-header>
      <ion-content> 
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let g of gamas; let i = index" 
                          routerLink="gamas/{{g.Gama}}">
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-img src="http://jardineria.test/img/gamas/{{g.Imagen}}"></ion-img>
              </ion-thumbnail>
              <ion-label>
                {{g.Gama}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
